header {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  width: 100%;
  align-items: center;
}

header div {
  color: lightblue;
  font-weight: bolder;
  font-family: sans-serif;
  margin-left: 1rem;
}

header ul {
  text-align: right;
  flex: 1;
  padding-right: 40px;
}

header ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

header ul li a {
  text-decoration: none;
  color: lightblue;
}
